body {
    background: black;
}

.beep-col {
    float: left;
    width: 25px;
}

div.beep {
    padding: 2px;
}

div.beep-inner {
    height: 20px;
    width: 20px;
    background: rgb(41, 41, 41);
    border-radius: 2px
}
.beep-col.odd div.beep-inner{
    background: rgb(61, 61, 61);
}

.beep-col div.beep-inner.active {
    background: rgb(107, 103, 100);
}

.beep-col div.beep-inner.on {
    background: orange;
    background: url('beep.png');
    background-size: 66px;
}

.beep-col div.beep-inner.on.active {
    background: rgb(255, 231, 186);
}

.beep.active,
body .beep.active p {
    color: chartreuse;
}

.clearboth {
    clear: both;
    height: 1px;
}

.slider {
    clear: both;
    padding: 12px 0;
}

.controls {
    width: 300px;
    margin: auto;   
}

.icon {
    fill: orange;
}

body .slider>p {
    color: #737373;
}

body .appbar {
    background: #0c0c0c;
    color: orange;
    border-bottom: 1px solid #1f1f1f;
    display:block;
    position: relative;
}

body .toolbar {
    min-height: 52px;
}

body .toolbar .playstop {
    width: 70px;
    margin: 0 auto;
}

body .playstop svg {
    font-size: 32px;
}

.main {
    margin-top: 78px;
}